.container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: #002868;
    border: 1px solid black;
}
.cuadro{
    padding-bottom: 50%;
    padding-right: 90%;
    background-color: #ef2b2d;
}
.primero{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.tercero{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.segundo{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.cuarto{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.arriba{
    margin-bottom: 15px;
    border-bottom: 15px solid white;
}
.abajo{
    margin-top: 15px;
    border-top: 15px solid white;
}
.peque{
    margin-right: 15px;
    border-right: 15px solid white;
}
.grande{
    margin-left: 15px;
    border-left: 15px solid white;
}